<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Legend</h5>
    <gf-form-switch class="gf-form"
      label="Show Legend"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.show"
      on-change="ctrl.onConfigChanged()"
    />
    <gf-form-switch class="gf-form"
      label="Show Metric Names"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showNames"
      on-change="ctrl.onConfigChanged()"
    />  
    <gf-form-switch class="gf-form"
      label="Transition Count"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showTransitionCount"
      on-change="ctrl.onConfigChanged()"
    />
    <gf-form-switch class="gf-form"
      label="Distinct Values Count"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showDistinctCount"
      on-change="ctrl.onConfigChanged()"
    />
    <div class="gf-form">
      <label class="gf-form-label width-14">Text Size</label>
      <input 
        type="number" 
        ng-model="ctrl.panel.legend.textSize"
        class="gf-form-input max-width-4"
        ng-blur="ctrl.render()" min="1"
      />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">Layout Mode</label>
      <div class="gf-form-select-wrapper max-width-8">
        <select 
          class="gf-form-input" 
          ng-model="ctrl.panel.legend.layoutMode"
          ng-options="
            f.value as f.text for f in [
              { text: 'All series', value: true },
              { text: 'Single', value: false }
            ]
          " 
          ng-change="ctrl.onConfigChanged()"
        />
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Values</h5>
    <gf-form-switch class="gf-form"
      label="Show"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showValues"
      on-change="ctrl.onConfigChanged()"
    />
    <div class="gf-form">
      <label class="gf-form-label width-7">Sort By</label>
      <div class="gf-form-select-wrapper max-width-14">
        <select class="gf-form-input" ng-model="ctrl.panel.legend.sortBy" ng-change="ctrl.onConfigChanged()">
          <option value="-ms">Time (desc)</option>
          <option value="ms">Time (asc)</option>
          <option value="-count">Count (desc)</option>
          <option value="count">Count (asc)</option>
        </select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-14">Limit</label>
      <input 
        type="number" 
        ng-model="ctrl.panel.legendMaxValues" 
        class="gf-form-input max-width-5" 
        ng-blur="ctrl.render()" 
        min="1" max="100"
      />
    </div>
    <gf-form-switch class="gf-form"
      label="Show Time"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showTime"
      on-change="ctrl.onConfigChanged()"
    />
    <gf-form-switch class="gf-form"
      label="Show Counts"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showCounts"
      on-change="ctrl.onConfigChanged()"
    />
    <gf-form-switch class="gf-form"
      label="Show Percent"
      label-class="gf-form-label width-14"
      checked="ctrl.panel.legend.showPercent"
      on-change="ctrl.onConfigChanged()"
    />
    <div class="gf-form" ng-show="ctrl.panel.legend.showPercent">
      <label class="gf-form-label width-14">Percent Decimals</label>
      <input 
        type="number"
        ng-model="ctrl.panel.legend.percentDecimals" 
        class="gf-form-input max-width-5" 
        ng-blur="ctrl.render()"
        min="0" max="10"
        placeholder="auto" 
      />
    </div>
  </div>
</div>

