<div class="canvas-spot" style="width:100%;"></div>

<section  ng-show="ctrl.panel.showLegend" style="margin-top:5px">
    <div ng-repeat="metric in ctrl.data">
        <span ng-show="ctrl.panel.showLegendNames" style="position: relative; top: -4px">{{ metric.name }}: </span>
        <div 
            ng-show="ctrl.panel.showLegendValues"
            ng-repeat="info in metric.legendInfo | orderBy:ctrl.panel.legendSortBy | limitTo:ctrl.panel.legendMaxValues"
            style="cursor: default; display:inline-block; margin-right:15px;"
            ng-mousemove="ctrl._showLegendTooltip($event, info);"
            ng-mouseleave="ctrl.clearTT()"
        >
            <div class="graph-legend-icon">
                <i class="fa fa-minus pointer" style="color: {{ ctrl.getColor(info.val) }}"></i>
            </div>
            <a class="graph-legend-alias pointer">{{ ctrl.getLegendDisplay( info, metric ) }}</a>
            
        </div>
        <div ng-show="ctrl.panel.showTransitionCount" style="display:inline-block;">
            &nbsp; Transitions: {{ metric.transitionCount }}
        </div>
        <div ng-show="ctrl.panel.showDistinctCount" style="display:inline-block;">
            &nbsp; Distinct: {{ metric.distinctValuesCount }}
        </div>
    </div>
</section>
